@model IEnumerable<PPC.Models.PROPERTY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> List of Agency Project
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.PropertyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Avatar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Images)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Area)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BedRoom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BathRoom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PackingPlace)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Created_at)
                        </th>*@
                        @*<th>
                            @Html.DisplayNameFor(model => model.Create_post)
                        </th>*@
                        @*<th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>*@
                        @*<th>
                            @Html.DisplayNameFor(model => model.Updated_at)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.DISTRICT.DistrictName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PROJECT_STATUS.Status_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PROPERTY_TYPE.CodeType)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.STREET.StreetName)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.USER.FullName)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.USER1.Email)
                        </th>*@
                        @*<th>
                            @Html.DisplayNameFor(model => model.WARD.WardName)
                        </th>*@
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                               
                               <a href="~/Admin/ProjectAdmin/Edit/@item.ID" title="Edit"><img src="~/Images/edit.png" width="20px" /></a><br />
                                <a href="~/Admin/ProjectAdmin/Details/@item.ID" title="Details"><img src="~/Images/if_More_2001881.png" width="20px" /></a><br />
                                <a href="~/Admin/ProjectAdmin/Delete/@item.ID" title="Delete"><img src="~/Images/if_delete_16_22536.png" width="20px" /></a>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                    *@
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropertyName)
                                </td>
                                <td>
                                    <img src="~/Images/@item.Avatar" width="100px"/>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Images)
                                </td>
                                @*<td>
                                    
                                    <p>
                                        @item.Content.Substring(0,30)
                                    </p>
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Area)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BedRoom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BathRoom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PackingPlace)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Created_at)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Create_post)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Note)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Updated_at)
                                </td>*@
                                <td>
                                    @*<p>@item.DISTRICT.DistrictName</p>*@
                                    @Html.DisplayFor(modelItem => item.DISTRICT.DistrictName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PROJECT_STATUS.Status_Name)
                                    @*<p>@item.PROJECT_STATUS.Status_Name</p>*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PROPERTY_TYPE.CodeType)
                                    @*<p>@item.PROPERTY_TYPE.CodeType</p>*@
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.STREET.StreetName)
                                </td>*@
                                <td>
                                    
                                    @Html.DisplayFor(modelItem => item.USER.FullName)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.USER1.Email)
                                </td>*@
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.WARD.WardName)
                                </td>*@
                               
                            </tr>
                            }
                </tbody>

            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">@DateTime.Now</div>
</div>


